@import '../../globals.less';

:local(.container){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10rem;
    }
    .searchbar{
        margin-bottom: 2.5rem;
    }
}