@import '../../globals.less';

:local(.container){
    position: relative;
    
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10rem;

        .logo{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;
                margin: auto;
                height: 1px;
                width: 1px;
                box-shadow: 0 0 15rem 3rem rgba(255,255,255,0.5);
            }
            img{
                z-index: 10;
            }
        }

        .background{
            position: absolute;
            left: -3rem;
            top: -2rem;

            &.right{
                left: auto;
                right: 1rem;
            }
        }
    }
    .wrapper{
        .container{
            min-height: ~"calc(100% - 10rem)";
        }
    }
    .searchbar{
        margin-bottom: 2.5rem;
    }
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .types{
            a{
                margin-left: 1rem;
                i{
                    color: @headingColor;
                    border-radius: 2rem;
                    background: @backgroundColor;
                    padding: 0.5rem;
                    &.active{
                        color: @high;
                    }
                }
            }
        }
    }
}

@media all and (min-width: @laptopS){
    :local(.container){
        .header{
            overflow: hidden;

            .background{
                width: 25vw;
                height: 25vw;

                left: -9vw;
                top: -6vw;

                &.right{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}